In [2]:

from __future__ import division
import pandas as pd
import numpy as np

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
import plotly.plotly as py
print (__version__) # requires version >= 1.9.0


init_notebook_mode(connected=True)

2.7.0

In [3]:

df_casos_belicos = pd.read_csv("../data/casos_acciones_belicas.csv" , encoding = "utf-8")
df_victimas_belicos = pd.read_csv("../data/victimas_acciones_belicas.csv" , encoding = "utf-8")

df_geo = pd.read_csv( "../data/departamentoscolombia.csv" , encoding = "utf-8")

In [4]:
df_geo.tail()

     id       DEPTO_CASO  latitud  longitud
28   73           Tolima     3.75    -75.25
29   76  Valle del Cauca     3.75    -76.50
30   97           Vaupés     0.25    -70.75
31   99          Vichada     5.00    -69.50
32  100     Bogotá, d.c.     4.60    -74.08

In [5]:
df_casos_belicos.head()

,IdCaso,IdCasoRelacionado,DIAH,MESH,ANNOH,REGION,DEPTO_CASO,MUNINICIO_CASO,Modalidad,Iniciativa,...,TotalCombatientesSinInformacion,TotalCombatientesOtrosGruposArmadosOrganizados,TotalCombatientesGruposArmadosOrganizados,TotalCombatientesMuertos,TotalCivilesMuertos,TotalPersonasSinInformacion,TotalCivilesCombatientesMuertos,VentajaMilitar,NumeroVictimasCaso,Estado
0,1,Cr000497,12.0,3.0,2006.0,Atrato,Chocó,Bagadó,Combate y/o contacto armado,Grupos armados organizados,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Grupos armados organizados,1,Publicado
1,2,NaN,0.0,0.0,0.0,Alto sinu y san jorge,Córdoba,Buenavista,Emboscada,Grupos armados organizados,...,0.0,0.0,0.0,5.0,0.0,0.0,5.0,Grupos armados organizados,5,Publicado
2,4,NaN,0.0,0.0,0.0,Sin informacion,Sin informacion,Sin informacion,Emboscada,Grupos armados organizados,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Grupos armados organizados,1,Publicado
3,6,NaN,0.0,0.0,0.0,Sin informacion,Sin informacion,Sin informacion,Ataque a instalación de las fuerzas armadas es...,Grupos armados organizados,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Grupos armados organizados,0,Publicado
4,7,NaN,0.0,0.0,0.0,Sin informacion,Sin informacion,Sin informacion,Hostigamiento,Grupos armados organizados,...,0.0,0.0,0.0,3.0,0.0,0.0,3.0,Grupos armados organizados,3,Publicado

In [6]:
df_victimas_belicos.tail()

,IdCaso,Id,DIAH,MESH,ANNOH,DEPTO_CASO,MUNINICIO_CASO,Sexo,Etnia,OcupacionVictima,CalidadVictima,TipoPoblacionVulnerable,MilitantePolitico,Grupo,DESCRIPCION_GRUPO
46528,532477,580325,0.0,2.0,1974.0,Antioquia,Maceo,S,NaN,Guerrillero,Combatiente,NaN,NaN,Guerrilla,Eln
46529,532477,580326,0.0,2.0,1974.0,Antioquia,Maceo,S,NaN,Guerrillero,Combatiente,NaN,NaN,Guerrilla,Eln
46530,396433,580328,22.0,1.0,1975.0,Bolívar,San pablo,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Ejército nacional
46531,396433,580329,22.0,1.0,1975.0,Bolívar,San pablo,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Ejército nacional
46532,396433,580330,22.0,1.0,1975.0,Bolívar,San pablo,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Ejército nacional

In [7]:
df_casos_belicos.columns

Index(['IdCaso', 'IdCasoRelacionado', 'DIAH', 'MESH', 'ANNOH', 'REGION',
       'DEPTO_CASO', 'MUNINICIO_CASO', 'Modalidad', 'Iniciativa',
       'TipoUnidadAtacada', 'Grupo Armado 1', 'Descripcíon Grupo Armado 1',
       'Grupo Armado 2', 'Descripción Grupo Armado 2', 'Grupo Armado 3',
       'Descripción Grupo Armado 3', 'Capturas',
       'GrupoPertenecenLosCapturados', 'LesionadosCiviles',
       'LesionadosCombatientes', 'TotalAgentesEstadoSinInformacion',
       'TotalMilitares', 'TotalPolicias', 'TotalOtrasFuerzasArmadasEstatales',
       'TotalCombatientesFuerzasArmadasDelEstado',
       'TotalCombatientesDeLasGuerrillas',
       'TotalCombatientesDeLosParamilitares',
       'TotalMuertosGrupoPosdesmovilizacion',
       'TotalCombatientesSinInformacion',
       'TotalCombatientesOtrosGruposArmadosOrganizados',
       'TotalCombatientesGruposArmadosOrganizados', 'TotalCombatientesMuertos',
       'TotalCivilesMuertos', 'TotalPersonasSinInformacion',
       'TotalCivilesCombatientesMuertos', 'VentajaMilitar',
       'NumeroVictimasCaso', 'Estado'],
      dtype='object')

In [8]:
print( df_casos_belicos["TotalCivilesMuertos"].sum() ) 
print( df_casos_belicos["TotalCombatientesMuertos"].sum() )

3634.0
42705.0

In [9]:

gp = df_casos_belicos.groupby( ["DEPTO_CASO"] )[ "TotalCombatientesMuertos" , "TotalCivilesMuertos" , "TotalPersonasSinInformacion" ].sum()

In [10]:
gp = gp.reset_index()

In [11]:
gp.head()

,DEPTO_CASO,TotalCombatientesMuertos,TotalCivilesMuertos,TotalPersonasSinInformacion
0,Amazonas,20.0,3.0,0.0
1,Antioquia,7684.0,970.0,88.0
2,Arauca,1955.0,126.0,2.0
3,"Archipiélago de san andrés, providencia y sant...",0.0,0.0,0.0
4,Atlántico,35.0,15.0,2.0

In [12]:
df_victimas_belicos.tail()

,IdCaso,Id,DIAH,MESH,ANNOH,DEPTO_CASO,MUNINICIO_CASO,Sexo,Etnia,OcupacionVictima,CalidadVictima,TipoPoblacionVulnerable,MilitantePolitico,Grupo,DESCRIPCION_GRUPO
46528,532477,580325,0.0,2.0,1974.0,Antioquia,Maceo,S,NaN,Guerrillero,Combatiente,NaN,NaN,Guerrilla,Eln
46529,532477,580326,0.0,2.0,1974.0,Antioquia,Maceo,S,NaN,Guerrillero,Combatiente,NaN,NaN,Guerrilla,Eln
46530,396433,580328,22.0,1.0,1975.0,Bolívar,San pablo,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Ejército nacional
46531,396433,580329,22.0,1.0,1975.0,Bolívar,San pablo,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Ejército nacional
46532,396433,580330,22.0,1.0,1975.0,Bolívar,San pablo,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Ejército nacional

In [13]:
gp_victimas = df_victimas_belicos.groupby( ["DEPTO_CASO" ])[ "Id" ].count().reset_index()

In [14]:
gp.head()

,DEPTO_CASO,TotalCombatientesMuertos,TotalCivilesMuertos,TotalPersonasSinInformacion
0,Amazonas,20.0,3.0,0.0
1,Antioquia,7684.0,970.0,88.0
2,Arauca,1955.0,126.0,2.0
3,"Archipiélago de san andrés, providencia y sant...",0.0,0.0,0.0
4,Atlántico,35.0,15.0,2.0

In [15]:
gp_victimas.head()

     DEPTO_CASO    Id
0      Amazonas    23
1     Antioquia  8719
2        Arauca  2082
3     Atlántico    52
4  Bogotá, d.c.   466

In [16]:
gp.head()

,DEPTO_CASO,TotalCombatientesMuertos,TotalCivilesMuertos,TotalPersonasSinInformacion
0,Amazonas,20.0,3.0,0.0
1,Antioquia,7684.0,970.0,88.0
2,Arauca,1955.0,126.0,2.0
3,"Archipiélago de san andrés, providencia y sant...",0.0,0.0,0.0
4,Atlántico,35.0,15.0,2.0

In [17]:
gp_geo = gp.merge( df_geo , on = "DEPTO_CASO" , how = "left")

gp_geo_vic = gp_victimas.merge( df_geo , on = "DEPTO_CASO" , how = "left")

In [18]:
gp_geo.head()

,DEPTO_CASO,TotalCombatientesMuertos,TotalCivilesMuertos,TotalPersonasSinInformacion,id,latitud,longitud
0,Amazonas,20.0,3.0,0.0,91.0,-1.019722,-71.938333
1,Antioquia,7684.0,970.0,88.0,5.0,7.000000,-75.500000
2,Arauca,1955.0,126.0,2.0,81.0,7.090278,-70.761667
3,"Archipiélago de san andrés, providencia y sant...",0.0,0.0,0.0,NaN,NaN,NaN
4,Atlántico,35.0,15.0,2.0,8.0,10.750000,-75.000000

In [19]:
gp_geo_vic.head()

     DEPTO_CASO    Id     id    latitud   longitud
0      Amazonas    23   91.0  -1.019722 -71.938333
1     Antioquia  8719    5.0   7.000000 -75.500000
2        Arauca  2082   81.0   7.090278 -70.761667
3     Atlántico    52    8.0  10.750000 -75.000000
4  Bogotá, d.c.   466  100.0   4.600000 -74.080000

In [20]:
gp_geo = gp_geo.dropna( subset=["latitud"])
gp_geo_vic = gp_geo_vic.dropna( subset= ["latitud"])

In [21]:
gp_geo_vic.head()

     DEPTO_CASO    Id     id    latitud   longitud
0      Amazonas    23   91.0  -1.019722 -71.938333
1     Antioquia  8719    5.0   7.000000 -75.500000
2        Arauca  2082   81.0   7.090278 -70.761667
3     Atlántico    52    8.0  10.750000 -75.000000
4  Bogotá, d.c.   466  100.0   4.600000 -74.080000

In [22]:
gp_geo_vic["Id"].sum()

40591

In [23]:
gp_geo["log_civilesMuertos"] = np.log(gp_geo["TotalCivilesMuertos"] )
gp_geo["log_CombatientesMuertos"] = np.log( gp_geo["TotalCombatientesMuertos"]) 

gp_geo_vic["log_victimas"] = np.log( gp_geo_vic["Id"] )

# Victimas

In [24]:
sizes = [  25*x/gp_geo_vic["log_victimas"].max()  for x in gp_geo_vic["log_victimas"].values  ]
data = [ dict(
    lat = gp_geo_vic['latitud'],
    lon = gp_geo_vic['longitud'],
    text =  gp_geo_vic['Id'].astype(str) + ' Victimas - ' + gp_geo_vic["DEPTO_CASO"],
    marker = dict(
        color = gp_geo_vic['Id'],
        opacity = 1.0,
        size = sizes,
    ),
    type = 'scattergeo'
) ]

layout = dict(
    geo = dict(
        scope = 'world',
        showland = True,
        landcolor = "#D6EFD6",
        subunitcolor = "rgb(255, 255, 255)",
        countrycolor = "rgb(255, 255, 255)",
        showlakes = True,
        lakecolor = "rgb(255, 255, 255)",
        showsubunits = True,
        showcountries = True,
        resolution = 50,
        projection = dict(
            type = 'Mercator',
        ),
        lonaxis = dict(
            showgrid = True,
            gridwidth = 0.5,
            range= [ -67, -83.0 ],
            dtick = 5 , 
        
        ),
        lataxis = dict (
            showgrid = True,
            gridwidth = 0.5,
            range= [ 14, -4 ],
            dtick = 5 , 
           
        ) , 
 
    ),
    title = 'Victimas',
)
fig = { 'data':data, 'layout':layout }
#py.iplot(fig, filename='precipitation')
#iplot( fig )
py.plot( fig , filename = "Conflicto3.html")

'https://plot.ly/~afhuertass/211'

# Civiles muertos en encuentros belicos

In [25]:
scl = [0,"rgb(150,0,90)"],[0.125,"rgb(0, 0, 200)"],[0.25,"rgb(0, 25, 255)"],
[0.375,"rgb(0, 152, 255)"],[0.5,"rgb(44, 255, 150)"],[0.625,"rgb(151, 255, 0)"],
[0.75,"rgb(255, 234, 0)"],[0.875,"rgb(255, 111, 0)"],[1,"rgb(255, 0, 0)"]

sizes = [  25*x/gp_geo["log_civilesMuertos"].max()  for x in gp_geo["log_civilesMuertos"].values  ]
data = [ dict(
    lat = gp_geo['latitud'],
    lon = gp_geo['longitud'],
    text =  gp_geo['TotalCivilesMuertos'].astype(str) + ' Civiles muertos - ' + gp_geo["DEPTO_CASO"],
    marker = dict(
        color = gp_geo['TotalCivilesMuertos'],
        opacity = 1.0,
        size = sizes,
    ),
    type = 'scattergeo'
) ]

layout = dict(
    geo = dict(
        scope = 'world',
        showland = True,
        landcolor = "#D6EFD6",
        subunitcolor = "rgb(255, 255, 255)",
        countrycolor = "rgb(255, 255, 255)",
        showlakes = True,
        lakecolor = "rgb(255, 255, 255)",
        showsubunits = True,
        showcountries = True,
        resolution = 50,
        projection = dict(
            type = 'Mercator',
        ),
        lonaxis = dict(
            showgrid = True,
            gridwidth = 0.5,
            range= [ -67, -83.0 ],
            dtick = 5 , 
        
        ),
        lataxis = dict (
            showgrid = True,
            gridwidth = 0.5,
            range= [ 14, -4 ],
            dtick = 5 , 
           
        ) , 
 
    ),
    title = 'Civiles muertos en encuentros bélicos',
)
fig = { 'data':data, 'layout':layout }
#py.iplot(fig, filename='precipitation')
#iplot( fig )
py.plot( fig , filename = "Conflicto1.html")

'https://plot.ly/~afhuertass/207'

In [26]:
plot(fig, filename='Colombia.html')

'file:///home/afhuertas/data-science/conflicto/scripts/Colombia.html'

# Combatientes muertos en encuentros belicos

In [27]:
scl = [0,"rgb(150,0,90)"],[0.125,"rgb(0, 0, 200)"],[0.25,"rgb(0, 25, 255)"],
[0.375,"rgb(0, 152, 255)"],[0.5,"rgb(44, 255, 150)"],[0.625,"rgb(151, 255, 0)"],
[0.75,"rgb(255, 234, 0)"],[0.875,"rgb(255, 111, 0)"],[1,"rgb(255, 0, 0)"]

sizes = [  25*x/gp_geo["log_CombatientesMuertos"].max()  for x in gp_geo["log_CombatientesMuertos"].values  ]
data = [ dict(
    lat = gp_geo['latitud'],
    lon = gp_geo['longitud'],
    text =  gp_geo['TotalCombatientesMuertos'].astype(str) + ' Combatientes muertos - ' + gp_geo["DEPTO_CASO"],
    marker = dict(
        color = gp_geo['TotalCombatientesMuertos'],
        opacity = 1.0,
        size = sizes,
    ),
    type = 'scattergeo'
) ]

layout = dict(
    geo = dict(
        scope = 'world',
        showland = True,
        landcolor = "#D6EFD6",
        subunitcolor = "rgb(255, 255, 255)",
        countrycolor = "rgb(255, 255, 255)",
        showlakes = True,
        lakecolor = "rgb(255, 255, 255)",
        showsubunits = True,
        showcountries = True,
        resolution = 50,
        projection = dict(
            type = 'Mercator',
        ),
        lonaxis = dict(
            showgrid = True,
            gridwidth = 0.5,
            range= [ -67, -83.0 ],
            dtick = 5 , 
        
        ),
        lataxis = dict (
            showgrid = True,
            gridwidth = 0.5,
            range= [ 14, -4 ],
            dtick = 5 , 
           
        ) , 
 
    ),
    title = 'Combatientes muertos en encuentros bélicos',
)
fig = { 'data':data, 'layout':layout }
#py.iplot(fig, filename='precipitation')
#iplot( fig )
py.plot( fig , filename = "Conflicto2.html")

'https://plot.ly/~afhuertass/209'

In [29]:
df_merge = df_casos_belicos.merge( df_geo , on = "DEPTO_CASO" , how = "left")

In [30]:
df_merge.head()

,IdCaso,IdCasoRelacionado,DIAH,MESH,ANNOH,REGION,DEPTO_CASO,MUNINICIO_CASO,Modalidad,Iniciativa,...,TotalCombatientesMuertos,TotalCivilesMuertos,TotalPersonasSinInformacion,TotalCivilesCombatientesMuertos,VentajaMilitar,NumeroVictimasCaso,Estado,id,latitud,longitud
0,1,Cr000497,12.0,3.0,2006.0,Atrato,Chocó,Bagadó,Combate y/o contacto armado,Grupos armados organizados,...,0.0,1.0,0.0,1.0,Grupos armados organizados,1,Publicado,27.0,6.000000,-77.000000
1,2,NaN,0.0,0.0,0.0,Alto sinu y san jorge,Córdoba,Buenavista,Emboscada,Grupos armados organizados,...,5.0,0.0,0.0,5.0,Grupos armados organizados,5,Publicado,23.0,8.333333,-75.666667
2,4,NaN,0.0,0.0,0.0,Sin informacion,Sin informacion,Sin informacion,Emboscada,Grupos armados organizados,...,1.0,0.0,0.0,1.0,Grupos armados organizados,1,Publicado,NaN,NaN,NaN
3,6,NaN,0.0,0.0,0.0,Sin informacion,Sin informacion,Sin informacion,Ataque a instalación de las fuerzas armadas es...,Grupos armados organizados,...,0.0,0.0,0.0,0.0,Grupos armados organizados,0,Publicado,NaN,NaN,NaN
4,7,NaN,0.0,0.0,0.0,Sin informacion,Sin informacion,Sin informacion,Hostigamiento,Grupos armados organizados,...,3.0,0.0,0.0,3.0,Grupos armados organizados,3,Publicado,NaN,NaN,NaN

In [31]:


df_casos_con_dept = df_merge.dropna( subset = ["latitud"])

In [32]:
df_casos_con_dept.head()

,IdCaso,IdCasoRelacionado,DIAH,MESH,ANNOH,REGION,DEPTO_CASO,MUNINICIO_CASO,Modalidad,Iniciativa,...,TotalCombatientesMuertos,TotalCivilesMuertos,TotalPersonasSinInformacion,TotalCivilesCombatientesMuertos,VentajaMilitar,NumeroVictimasCaso,Estado,id,latitud,longitud
0,1,Cr000497,12.0,3.0,2006.0,Atrato,Chocó,Bagadó,Combate y/o contacto armado,Grupos armados organizados,...,0.0,1.0,0.0,1.0,Grupos armados organizados,1,Publicado,27.0,6.000000,-77.000000
1,2,NaN,0.0,0.0,0.0,Alto sinu y san jorge,Córdoba,Buenavista,Emboscada,Grupos armados organizados,...,5.0,0.0,0.0,5.0,Grupos armados organizados,5,Publicado,23.0,8.333333,-75.666667
8,16,NaN,0.0,0.0,0.0,Norte de antioquia,Antioquia,Gómez plata,Combate y/o contacto armado,Grupos armados organizados,...,17.0,0.0,0.0,17.0,Grupos armados organizados,17,Publicado,5.0,7.000000,-75.500000
9,17,NaN,0.0,0.0,0.0,Piedemonte llanero,Casanare,Sácama,Combatiente muerto en circunstancia no determi...,Grupos armados organizados,...,1.0,0.0,0.0,1.0,Grupos armados organizados,1,Publicado,85.0,5.500000,-71.500000
10,18,Cr012101,0.0,0.0,0.0,Magdalena medio,Cesar,San alberto,Combate y/o contacto armado,Sin información,...,0.0,0.0,0.0,0.0,Sin información,0,Publicado,20.0,9.333333,-73.500000

In [33]:
df_merge.shape

(34962, 42)

In [34]:
df_casos_con_dept.shape

(30718, 42)

In [35]:
print( "Numero de acciones belicas sin departamento claro: {}".format( df_merge.shape[0] - df_casos_con_dept.shape[0]  )  )

Numero de acciones belicas sin departamento claro: 4244

In [36]:
df_victimas_belicos.head()

,IdCaso,Id,DIAH,MESH,ANNOH,DEPTO_CASO,MUNINICIO_CASO,Sexo,Etnia,OcupacionVictima,CalidadVictima,TipoPoblacionVulnerable,MilitantePolitico,Grupo,DESCRIPCION_GRUPO
0,1,1,12.0,3.0,2006.0,Chocó,Bagadó,H,NaN,No aplica,Civil,NaN,NaN,NaN,NaN
1,2,2,0.0,0.0,0.0,Córdoba,Buenavista,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Das
2,2,3,0.0,0.0,0.0,Córdoba,Buenavista,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Das
3,2,4,0.0,0.0,0.0,Córdoba,Buenavista,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Das
4,2,5,0.0,0.0,0.0,Córdoba,Buenavista,H,NaN,Fuerza pública,Combatiente,NaN,NaN,Agente del estado,Das

In [37]:
df_victimas_belicos.columns

Index(['IdCaso', 'Id', 'DIAH', 'MESH', 'ANNOH', 'DEPTO_CASO', 'MUNINICIO_CASO',
       'Sexo', 'Etnia', 'OcupacionVictima', 'CalidadVictima',
       'TipoPoblacionVulnerable', 'MilitantePolitico', 'Grupo',
       'DESCRIPCION_GRUPO'],
      dtype='object')

In [38]:
df_victimas_belicos["Etnia"].value_counts()

Indígena          93
Afrocolombiano    46
Raizal             2
Name: Etnia, dtype: int64

In [39]:
df_victimas_des = pd.read_csv("../data/victimas_desaparicion.csv")

In [40]:
df_victimas_des.tail()

,IdCaso,Id,DEPTO_CASO,MUNINICIO_CASO,DIAH,MESH,ANNOH,Sexo,Etnia,OcupacionVictima,CalidadVictima,TipoPoblacionVulnerable,MilitantePolitico,Grupo,DESCRIPCION_GRUPO,SituacionActualVictima,FuenteInformacionDesaparicion
80506,532403,580138.0,Valle del cauca,Caicedonia,7,2,2001,H,NaN,Sin información,Civil,NaN,NaN,NaN,NaN,Apareció muerto,Entidad pública
80507,414447,580253.0,Bolívar,San pablo,31,8,2003,H,NaN,Sin información,Civil,NaN,NaN,NaN,NaN,Sigue desaparecido pero existe información,Ong
80508,241481,580313.0,Cesar,Valledupar,9,9,1999,H,NaN,Sin información,Civil,NaN,NaN,NaN,NaN,Apareció muerto,Familiares o comunidad
80509,532491,580332.0,Sin informacion,Sin informacion,0,0,2001,H,NaN,Sin información,Civil,NaN,NaN,NaN,NaN,Apareció muerto,Entidad pública
80510,532492,580333.0,Antioquia,San carlos,2,7,2000,H,NaN,Sin información,Civil,NaN,NaN,NaN,NaN,Apareció muerto,Entidad pública

In [41]:
gp_victimas_des = df_victimas_des.groupby( ["DEPTO_CASO" ])[ "IdCaso" ].count().reset_index()

In [42]:
gp_victimas_des.head()

                                          DEPTO_CASO  IdCaso
0                                           Amazonas      31
1                                          Antioquia   19801
2                                             Arauca    1685
3  Archipiélago de san andrés, providencia y sant...       4
4                                          Atlántico     707

In [43]:
gp_victimas_des = gp_victimas_des.merge( df_geo , on = "DEPTO_CASO" , how = "left")

In [44]:
gp_victimas_des.head()

,DEPTO_CASO,IdCaso,id,latitud,longitud
0,Amazonas,31,91.0,-1.019722,-71.938333
1,Antioquia,19801,5.0,7.000000,-75.500000
2,Arauca,1685,81.0,7.090278,-70.761667
3,"Archipiélago de san andrés, providencia y sant...",4,NaN,NaN,NaN
4,Atlántico,707,8.0,10.750000,-75.000000

In [45]:
gp_victimas_des["log_des"] = np.log( gp_victimas_des["IdCaso"] )

In [46]:
sizes = [  25*x/gp_victimas_des["log_des"].max()  for x in gp_victimas_des["log_des"].values  ]
data = [ dict(
    lat = gp_victimas_des['latitud'],
    lon = gp_victimas_des['longitud'],
    text =  gp_victimas_des['IdCaso'].astype(str) + ' Desapariciones - ' + gp_victimas_des["DEPTO_CASO"],
    marker = dict(
        color = gp_victimas_des['IdCaso'],
        opacity = 1.0,
        size = sizes,
    ),
    type = 'scattergeo'
) ]

layout = dict(
    geo = dict(
        scope = 'world',
        showland = True,
        landcolor = "#D6EFD6",
        subunitcolor = "rgb(255, 255, 255)",
        countrycolor = "rgb(255, 255, 255)",
        showlakes = True,
        lakecolor = "rgb(255, 255, 255)",
        showsubunits = True,
        showcountries = True,
        resolution = 50,
        projection = dict(
            type = 'Mercator',
        ),
        lonaxis = dict(
            showgrid = True,
            gridwidth = 0.5,
            range= [ -67, -83.0 ],
            dtick = 5 , 
        
        ),
        lataxis = dict (
            showgrid = True,
            gridwidth = 0.5,
            range= [ 14, -4 ],
            dtick = 5 , 
           
        ) , 
 
    ),
    title = ' Victimas desapariciones ',
)
fig = { 'data':data, 'layout':layout }
#py.iplot(fig, filename='precipitation')
#iplot( fig )
py.plot( fig , filename = "Conflicto-desapariciones.html")

'https://plot.ly/~afhuertass/213'

In [47]:
df_victimas_des.head()

,IdCaso,Id,DEPTO_CASO,MUNINICIO_CASO,DIAH,MESH,ANNOH,Sexo,Etnia,OcupacionVictima,CalidadVictima,TipoPoblacionVulnerable,MilitantePolitico,Grupo,DESCRIPCION_GRUPO,SituacionActualVictima,FuenteInformacionDesaparicion
0,9909,17255.0,Chocó,Acandí,13,1,1996,H,NaN,Sin información,Civil,NaN,NaN,NaN,NaN,Sigue desaparecido pero existe información,Familiares o comunidad
1,532407,36659.0,Antioquia,San andrés de cuerquía,4,9,2003,H,NaN,Trabajador de finca,Civil,NaN,NaN,NaN,NaN,Sigue desaparecido pero existe información,Familiares o comunidad
2,181823,48561.0,Caldas,Supía,30,3,2003,H,Indígena,Sin información,Civil,NaN,NaN,NaN,NaN,Apareció muerto,Ong
3,106281,61537.0,Magdalena,Santa marta,14,1,2004,H,NaN,Paramilitar,Combatiente,NaN,NaN,Grupo paramilitar,Autodefensas unidas de colombia auc,Sigue desaparecido pero existe información,Perpetrador del hecho
4,106281,61538.0,Magdalena,Santa marta,14,1,2004,H,NaN,Paramilitar,Combatiente,NaN,NaN,Grupo paramilitar,Autodefensas unidas de colombia auc,Sigue desaparecido pero existe información,Perpetrador del hecho

In [51]:
df_victimas_des["SituacionActualVictima"].value_counts()

Desaparecido                                  58962
Sigue desaparecido pero existe información    11604
Apareció muerto                                8195
Apareció vivo                                  1750
Name: SituacionActualVictima, dtype: int64

In [52]:
df_victimas_des["CalidadVictima"].value_counts()

Civil                              79285
Combatiente                         1219
Sin información                        6
Civil temporalmente combatiente        1
Name: CalidadVictima, dtype: int64

In [53]:
df_victimas_des["OcupacionVictima"].value_counts()

Sin información                        54481
Campesino                               4928
Trabajador de finca                     4745
Trabajo sin especificar                 2306
Comerciante                             2051
Economía informal                       1630
Empleado                                1484
Conductor/motorista                     1286
Otro                                    1133
Obrero                                   969
Desempleado                              805
Estudiante                               784
Fuerza pública                           659
Paramilitar                              455
Pescador                                 369
Minero                                   300
Administrador de finca                   275
Raspachín                                273
Funcionario público                      245
Seguridad privada                        234
Profesional                              232
Ganadero/hacendado                       185
No aplica                                141
Delincuente                              125
Guerrillero                               99
Personal de salud                         95
Ama de casa                               78
Religioso                                 40
Trabajador(a) sexual                      37
Pensionado                                21
Empresario - industrial                   21
Miembro de grupo posdesmovilización        2
Name: OcupacionVictima, dtype: int64

In [96]:
df_victimas_des["ANNOH"].value_counts()

df_victimas_des = df_victimas_des[ df_victimas_des["ANNOH"] != 0 ]
df_victimas_des["ANNOH"].value_counts()

2002    7959
2001    6478
2000    5975
2003    5928
2004    4782
1999    4058
1998    3504
1997    3219
2005    3123
1996    2830
1995    2231
2007    1992
2006    1945
1990    1911
1994    1863
1992    1648
1991    1615
1993    1614
1989    1537
1988    1527
2008    1450
2009    1351
2010    1203
1986    1126
1987    1101
2011    1049
1985     711
2012     662
1984     318
1983     296
        ...
1981     170
2014     162
2013     151
1979     109
2015      71
1980      69
2016      52
1978      52
1965      34
1975      31
1974      27
1977      25
1976      18
1973      15
1966      15
1970      15
1961      13
1962      10
2017       8
1969       7
1968       7
1972       4
1964       4
1960       3
1958       3
1971       2
1963       2
1959       2
1967       2
2018       1
Name: ANNOH, Length: 61, dtype: int64

In [97]:
gp_victimas_des = df_victimas_des.groupby( by =  ["SituacionActualVictima" , "ANNOH"  ]  )[ "IdCaso"].count()

# Desaparecidos

In [99]:
desaparecidos_tipo = []
for tipo , data in gp_victimas_des.groupby( level=0 ):
    #print(new_df.reset_index())
    #print( date )
    data = data.reset_index()
    
    sct = go.Scatter(
        x = data["ANNOH"] , 
        y = data["IdCaso"] , 
        name = tipo
    )
    desaparecidos_tipo.append( sct )

In [103]:
layout = go.Layout(
    title = "Desaparecidos por año y situación actual de la victima" , 
    xaxis = dict( 
        title = "Año"
    ) , 
    yaxis = dict(
        title = "Desaparecidos"
    ) 
)
fig = go.Figure( data = desaparecidos_tipo , layout = layout )

iplot( fig, filename='desariciones_annoh')

# Casos de masacres

Las masacres constituyeron una de las formas de violencia mas recurrentes en el pais durante los años del conflicto.

In [104]:
df_casos_masacres = pd.read_csv("../data/casos_masacres.csv" , encoding = "utf-8")

In [109]:
df_casos_masacres.head()

,IdCaso,IdCasoRelacionado,DIAH,MESH,ANNOH,REGION,DEPTO_CASO,MUNINICIO_CASO,Modalidad,TipoArmas,...,ConfinamientoRestriccionMovilidad,DesplazamientoForzado,Extorsion,LesionadosCiviles,Pillaje,Tortura,ViolenciaBasadaGenero,OtroHechoSimultaneo,NumeroVictimasCaso,Estado
0,4986,NaN,23,1,1991,Medio putumayo,Putumayo,Mocoa,Falso positivo,Arma de fuego,...,0,0,0,0.0,0,0.0,NaN,NaN,7,Publicado
1,11364,NaN,3,7,1997,Sierra nevada de santa marta,Magdalena,Ciénaga,Retén,Arma corto punzante - objeto contundente,...,0,0,0,0.0,0,2.0,NaN,NaN,4,Publicado
2,12727,Cr201712727,26,10,1998,Bajo putumayo,Putumayo,San miguel,Falso positivo,Arma de fuego,...,0,0,0,0.0,0,0.0,NaN,NaN,6,Publicado
3,18840,Cr049009,23,9,2002,Alta guajira,La guajira,Maicao,Falso positivo,Arma de fuego,...,0,0,0,1.0,0,0.0,NaN,NaN,4,Publicado
4,48084,NaN,8,6,2003,Valle de aburra,Antioquia,Medellín,Sicariato,Arma de fuego,...,0,0,0,0.0,0,0.0,NaN,NaN,4,Publicado

In [125]:
df_casos_masacres["DESCRIPCION_PRESUNTO_RESPONSABLE"].tail()

4217               Farc
4218    No identificado
4219                Eln
4220               Farc
4221               Farc
Name: DESCRIPCION_PRESUNTO_RESPONSABLE, dtype: object

In [118]:
gp_masacresby_responsable = df_casos_masacres.groupby( by =  ["DESCRIPCION_PRESUNTO_RESPONSABLE"] )["NumeroVictimasCaso"].sum().reset_index()

In [126]:
gp_masacresby_responsable.head()

      DESCRIPCION_PRESUNTO_RESPONSABLE  NumeroVictimasCaso
0  Armada nacional - ejército nacional                   4
1                         Autodefensas                 398
2                         Autodefensas                  33
3                         Autodefensas                  50
4                         Autodefensas                 216

In [127]:
gp_masacresby_responsable["DESCRIPCION_PRESUNTO_RESPONSABLE"] = gp_masacresby_responsable["DESCRIPCION_PRESUNTO_RESPONSABLE"].apply(lambda x : "Autodefensas" if  "Autodefensas" in x  else x )

In [129]:
gp_masacresby_responsable.head()

      DESCRIPCION_PRESUNTO_RESPONSABLE  NumeroVictimasCaso
0  Armada nacional - ejército nacional                   4
1                         Autodefensas                 398
2                         Autodefensas                  33
3                         Autodefensas                  50
4                         Autodefensas                 216

In [139]:
gp_masacresby_responsable = gp_masacresby_responsable.groupby( by = [ "DESCRIPCION_PRESUNTO_RESPONSABLE"])["NumeroVictimasCaso"].sum()

In [141]:
gp_masacresby_responsable = gp_masacresby_responsable.reset_index()

gp_masacresby_responsable = gp_masacresby_responsable.sort_values( by = "NumeroVictimasCaso" , ascending = False)
gp_masacresby_responsable.head()

    index DESCRIPCION_PRESUNTO_RESPONSABLE  NumeroVictimasCaso
26     26                  No identificado                6731
1       1                     Autodefensas                5947
24     24                        No aplica                3450
16     16                             Farc                2878
12     12                Ejército nacional                1176

In [143]:
asesinatos_selectivos = go.Pie(
    labels=gp_masacresby_responsable["DESCRIPCION_PRESUNTO_RESPONSABLE"][:10] ,
    values= gp_masacresby_responsable["NumeroVictimasCaso"][:10] 
)
layout = go.Layout( 
    title = "Victimas de Masacres"
)

fig = go.Figure( data = [asesinatos_selectivos]  , layout = layout )

iplot( fig, filename='asesinatos_por_responsable')

In [108]:
df_casos_masacres["NumeroVictimasCaso"].sum()

24512

In [147]:
df_casos_masacres["DESCRIPCION_PRESUNTO_RESPONSABLE"].value_counts()

No identificado                                                            1211
Autodefensas unidas de colombia auc                                         847
No aplica                                                                   636
Farc                                                                        477
Ejército nacional                                                           220
Eln                                                                         127
No identificada                                                             111
Otro                                                                         79
Autodefensas campesinas de córdoba y urabá (accu)                            63
Presencia gao sin atribución                                                 42
Autodefensas campesinas del magdalena medio                                  35
Bloque central bolívar                                                       34
Policía nacional                                                             31
Bandolerismo revolucionario                                                  30
Muerte a secuestradores (mas)                                                28
Bandolerismo liberal                                                         19
Urabeños/autodefensas gaitanistas de colombia/águilas negras/clan úsuga      18
Los rastrojos                                                                18
Epl                                                                          16
Autodefensas de hernán giraldo                                                9
Autodefensas campesinas del sur del cesar                                     8
Disidencia epl                                                                8
Autodefensas campesinas del casanare (buitragueños)                           8
Los tangueros                                                                 7
Guerrilla comunista                                                           5
Ejército nacional - policía nacional                                          4
Quintín lame                                                                  4
Bandolerismo conservador                                                      3
Farc/eln                                                                      3
Autodefensas campesinas de meta y vichada                                     3
Los paisas                                                                    3
Bloque metro                                                                  2
Fuerza aérea                                                                  2
Venezolano                                                                    2
Disidencia eln                                                                1
Coordinadora guerrillera simón bolívar                                        1
Armada nacional - ejército nacional                                           1
Disidencia farc                                                               1
Autodefensas campesinas nueva generación (ong)                                1
Das                                                                           1
Name: DESCRIPCION_PRESUNTO_RESPONSABLE, dtype: int64

In [152]:
df_no_identificados = df_casos_masacres[ df_casos_masacres["DESCRIPCION_PRESUNTO_RESPONSABLE"] == "No identificado" ]

In [153]:
df_no_identificados.head()

,IdCaso,IdCasoRelacionado,DIAH,MESH,ANNOH,REGION,DEPTO_CASO,MUNINICIO_CASO,Modalidad,TipoArmas,...,ConfinamientoRestriccionMovilidad,DesplazamientoForzado,Extorsion,LesionadosCiviles,Pillaje,Tortura,ViolenciaBasadaGenero,OtroHechoSimultaneo,NumeroVictimasCaso,Estado
4,48084,NaN,8,6,2003,Valle de aburra,Antioquia,Medellín,Sicariato,Arma de fuego,...,0,0,0,0.0,0,0.0,NaN,NaN,4,Publicado
5,50556,NaN,26,3,1994,Valle de aburra,Antioquia,Medellín,Retención/ejecución,Arma de fuego,...,0,0,0,3.0,0,0.0,NaN,NaN,4,Publicado
6,51724,Cr021638,5,2,1999,Oriente antioqueño,Antioquia,Abejorral,Retención/ejecución,Nd,...,0,0,0,0.0,1,0.0,NaN,NaN,4,Publicado
8,53273,NaN,27,5,1996,Uraba,Antioquia,Apartadó,Ruta,Arma de fuego,...,0,0,0,0.0,0,0.0,NaN,NaN,4,Publicado
10,55965,NaN,28,7,1993,Valle de aburra,Antioquia,Bello,Desconocida,Nd,...,0,0,0,0.0,0,0.0,NaN,NaN,4,Publicado

In [156]:
df_no_identificados["DEPTO_CASO"].value_counts()

Antioquia             420
Norte de santander     76
Santander              70
Valle del cauca        66
Meta                   61
Cesar                  60
Magdalena              48
Córdoba                47
Bolívar                46
Tolima                 43
Cauca                  30
La guajira             23
Casanare               22
Nariño                 21
Cundinamarca           17
Quindio                16
Caquetá                16
Chocó                  15
Caldas                 15
Sucre                  15
Boyacá                 13
Huila                  13
Risaralda              12
Putumayo               12
Bogotá, d.c.           10
Atlántico               7
Guaviare                5
Arauca                  4
Sin informacion         4
Vichada                 3
Exterior                1
Name: DEPTO_CASO, dtype: int64

In [161]:
gp_masacres_noidentificados = df_no_identificados.groupby( by = [ "DEPTO_CASO"])["NumeroVictimasCaso"].sum().reset_index()

In [168]:
gp_masacres_noidentificados = gp_masacres_noidentificados.sort_values(by = "NumeroVictimasCaso" , ascending = False)
gp_masacres_noidentificados.head()

            DEPTO_CASO  NumeroVictimasCaso
0            Antioquia                2202
25           Santander                 427
21  Norte de santander                 410
29     Valle del cauca                 367
28              Tolima                 355

In [175]:
masacres_no_identificados = go.Pie(
    labels=gp_masacres_noidentificados["DEPTO_CASO"][:15] ,
    values= gp_masacres_noidentificados["NumeroVictimasCaso"][:15] , 
    textinfo='value',
    textfont=dict(size=20)
)
layout = go.Layout( 
    title = "Victimas masacres - Grupos no identificados"
)

fig = go.Figure( data = [masacres_no_identificados]  , layout = layout )

iplot( fig, filename='asesinatos_por_responsable')

In [173]:
gp_masacres_noidentificados["NumeroVictimasCaso"][:15].sum()/gp_masacres_noidentificados["NumeroVictimasCaso"].sum()

0.8631704055860941

In [179]:
df_casos_masacres_2 = df_casos_masacres[ df_casos_masacres["ANNOH"] != 0 ]

In [182]:
gp_masacres_annoh_resp = df_casos_masacres_2.groupby( by =  ["DESCRIPCION_PRESUNTO_RESPONSABLE" , "ANNOH"  ]  )[ "NumeroVictimasCaso"].sum()

In [183]:
gp_masacres_annoh_resp.head()

DESCRIPCION_PRESUNTO_RESPONSABLE                   ANNOH
Armada nacional - ejército nacional                2007       4
Autodefensas campesinas de córdoba y urabá (accu)  1994      16
                                                   1995      69
                                                   1996     139
                                                   1997     142
Name: NumeroVictimasCaso, dtype: int64

In [191]:
masacres_resp = []
inx = 0
for tipo , data in gp_masacres_annoh_resp.groupby( level=0 ):
    #print(new_df.reset_index())
    #print( date )
    data = data.reset_index()
    
    sct = go.Scatter(
        x = data["ANNOH"] , 
        y = data["NumeroVictimasCaso"] , 
        name = tipo
    )
    inx = inx + 1 
    if inx > 10:
        break
    masacres_resp.append( sct )

In [192]:
layout = go.Layout(
    title = "Victimas de masacres por año por presunto responsable" , 
    xaxis = dict( 
        title = "Año"
    ) , 
    yaxis = dict(
        title = "Desaparecidos"
    ) 
)
fig = go.Figure( data = masacres_resp , layout = layout )

iplot( fig, filename='masacres_resp_annoh')